{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body %}
<h1>Vous avez oublié votre mot de passe ? </h1>
<div class="formulaire_bloc">
    <div class="formulaires">
        {{ form_start(mdpOublie) }}
        {{ form_widget(mdpOublie) }}
        {{ form_end(mdpOublie) }}
    </div>
</div>
    <div class="nosBoutons">
        <div class="submitValider"><button type="submit" title="Cliquer sur Valider" name="btn_valider_mdpOublie">Let's go</button></div>
    </div>
{% endblock %}