{% extends 'base.html.twig' %}
{% block title %}COM SORTIR - ENI{% endblock %}
{% block body %}
<h1>Rejoignez-nous sur notre plateforme exclusive Sortir.com</h1>
    {{ app.user.nom }}
<p>Organisez et participez à des sorties passionnantes avec d'autres stagiaires ENI, où que vous soyez !</p>
{% endblock %}
