body {
    background: #EEEEFF;
}

aside.sidebar {
    background: #9FB4C7;
    color: #EEEEFF;
}

div.sidebar-wrapper {


}

section.main-content{

}

div.content-search{

}

div.navbar-custom-menu{

}

aside.content-top.ea-search-disable{

}

div.dropdown.dropdown-setting{

}

div.content-wrapper{

}

article.content{

}

div#content-resizer-handler.resizer-handler.resizer-handler-right{

}

div#sfwdt014745.sf-toolbar{
    /*display: none;*/
}

div.wrapper{

}

aside.sidebar{

}

header.main-header{
    /*background: #9FB4C7;
    color: #EEEEFF;*/
}

nav.navbar{

}

div#header-logo{

}

a.logo{

}

span.logo-custom{

}
span.logo-compact{

}

nav#main-menu{

}
ul.menu{

}
li.menu-item{

}

a.menu-item-contents{

}
i.menu-icon{

}
span.menu-item-label.position-relative{

}

div#sidebar-resizer-handler.resizer-handler.resizer-handler-left{

}
