:root {
    --couleur-principale : #EEEEFF ;
    --couleur-secondaire : #7F7CAF ;
    --couleur-tertiaire : #9FB4C7;
    --couleur-quaternaire : #28587B;
}

body {
    display : flex;
    flex-direction: column;
    font-family: 'Crimson Text', serif;
}

header {
    background-color: var(--couleur-tertiaire);
    padding : 1vw;
    padding-left : 5%;
    height : 8vh;
}

header nav {
    margin-left : 30px;
}

.contenuDuHeader {
    display : flex;
    align-items: center;
}

header img {
    height: 70px;
}

header a {
    text-decoration: none;
    color: var(--couleur-principale);
    font-size: 1.8rem;
}

a:hover {
    color: white;
}

main {
    background-color: var(--couleur-principale);
    color: black;
    text-align: center;
    height: 84vh;
    margin: 0;
}

footer {
    background-color: var(--couleur-quaternaire);
    color: var(--couleur-principale);
    height: 5vh;
    text-align: center;
    align-content: center;
    margin: 0;
}

input, select {
    margin-bottom: 0.8rem;
    box-sizing: border-box;
    width: 250px;
}
textarea {
    resize: none;
    width : 250px;
    height : 100px;
}

label {
    display : block;
    /*margin-left: 20px;*/

}

.formulaires {
    display: flex;
    justify-content: space-between;
}

.colonne {
    flex: 1;
    margin-right: 10px;
}

button[type="submit"]{
    /* Réinitialiser les styles par défaut */
    background-color: transparent;
    border: none;
    /*color: inherit;*/
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: none;

    /* Ajouter vos styles personnalisés ici */
    justify-content: center;
    border: solid 1px black;
    border-radius: 5px;
    background-color: var(--couleur-tertiaire);
    color: white;
    width: 100px;
    height: 40px;

}

button:hover {
    background-color: var(--couleur-secondaire);
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 5px;
    text-align: center;
}

.flash-success {
    color: var(--couleur-principale);
    background-color: var(--couleur-secondaire);
}



