:root {
    --couleur-principale : #EEEEFF ;
    --couleur-secondaire : #7F7CAF ;
    --couleur-tertiaire : #9FB4C7;
    --couleur-quaternaire : #28587B;
    font-family: 'Tilt Neon', sans-serif;
}

header {
    top: 0;
    background-color: var(--couleur-tertiaire);
    padding : 1vw;
    height : 10vh;
}

header .logo {
    animation: mouvement 14s infinite alternate;
    height: 70px;
}

/*header .logo:hover {*/
/*    transition: transform 0.5s;*/
/*    transform: rotateY(10deg) scale(1.2);*/
/*}*/

header nav a {
    color: var(--couleur-principale);
    border-radius: 5px;
    padding: 5px 10px;
}

header a {
    margin-left: 2%;
    color: var(--couleur-principale);
    text-decoration: none;
}

header a:hover {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.contenuDuHeader {
    z-index : 1;
    position : sticky;
    display : inline-block;
    width : 98vw;
    perspective: 1000px; /* Définit la distance de perspective pour l'effet 3D */
}

main {
    background-color: var(--couleur-principale);
    color: black;
    text-align: center;
    height: 81vh;
    margin: 0;
    animation: fadeIn 1s ease forwards ;
    animation-iteration-count: 1;
    overflow-y: auto;
}

.detailSortie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    text-align: left;
    padding: 5%;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination .page-item {
    list-style-type: none;
    padding: 5px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: var(--couleur-secondaire);
    color: white;
}

.pagination .page-item:hover {
    background-color: var(--couleur-tertiaire);
}

.pagination .next {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination .previous {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination .current {
    background-color: var(--couleur-tertiaire);
    color: white;
}

.pagination .last {
    background-color: var(--couleur-tertiaire);
    color: white;
}

.tableauAccueil {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    overflow: auto;
    max-height: 20vh;
}

.result-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.result-table th {
    position: sticky;
    top: 0; /* Pour maintenir les en-têtes en haut */
    background-color: var(--couleur-secondaire);
    color: #ffffff;/* Couleur de fond pour les en-têtes */
    z-index: 2;
    margin-bottom: 5%;
    overflow: auto;
    max-height: 20vh;
}

.tableauAccueil th {
    gap: 50px;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--couleur-quaternaire);
    text-align: left;
    /*padding-left: 15px;*/
}

.tableauAccueil td {
    justify-content: flex-start;
    text-align: left;
}

.result-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.result-table th {
    position: sticky;
    top: 0; /* Pour maintenir les en-têtes en haut */
    background-color: var(--couleur-secondaire);
    color: #ffffff; /* Couleur de fond pour les en-têtes */
    z-index: 2;
}

footer {
    position : fixed;
    bottom: 0;
    width:100%;
    background-color: var(--couleur-quaternaire);
    color: var(--couleur-principale);
    height: 5vh;
    text-align: center;
    align-content: center;
    margin: 0;
}

input, select {
    margin-bottom: 0.8rem;
    box-sizing: border-box;
    width: 250px;
}

textarea {
    resize: none;
    width : 250px;
    height : 100px;
}

label {
    display : block;
}

.formulaire_bloc {
    display: flex;
    background-color: lavenderBlush;
    width: 60vw;
    margin : auto;
    justify-content: center;
    padding: 1%;
    border: solid 1px black;
    border-radius: 10px;
}

.formulaires {
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.colonne {
    margin-right: 10px;
}

.profilUser {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    text-align: left;
    padding: 5%;
}

ul, ol {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

a.button-create {
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: none;
    /*border: solid 1px black;*/

    /* styles personnalisés */
    justify-content: center;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    width: 100px;
    height: 40px;
}

a.button-create:hover {
    background-color: forestgreen;
    transition: transform 0.2s;
    transform: rotateY(10deg) scale(1.1);
}

/*utile pour le positionnement*/
.nosBoutons {
    display: flex;
    justify-content: center;
    margin-top : 10%;
    gap : 2%;
}

/*Les survols de boutons */
.submitValider:hover,
.submitValider button:hover,
.submitPublier button:hover,
.submitPublier button:hover,
.submitAnnuler:hover,
.mdpOublie:hover,
.submitRechercher:hover,
.submitConnecter:hover,
.submitSupprimer:hover{
   transition: transform 0.2s; /* Ajoute une transition pour un effet plus fluide */
   transform: scale(1.2); /* Rotation de 10 degrés autour de l'axe Y et mise à l'échelle de 110% lors du survol */
}

/* *********************************************************** */
/* *****Template pour les boutons cliquables VALIDER  ******** */
/* *********************************************************** */
.submitValider button[type="submit"], .submitValider {
    /* Réinitialiser les styles par défaut */
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: none;

    /* styles personnalisés */
    justify-content: center;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    width: 100px;
    height: 40px;
}

/* *********************************************************** */
/* *****Template pour les boutons cliquables PUBLIER  ******** */
/* *********************************************************** */
.submitPublier button[type="submit"]{
    /* Réinitialiser les styles par défaut */
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: none;
    /*border: solid 1px black;*/

    /* styles personnalisés */
    justify-content: center;
    border-radius: 5px;
    background-color: midnightblue;
    color: white;
    width: 100px;
    height: 40px;
}

/* *********************************************************** */
/* *****Template pour les boutons cliquables ANNULER******** */
/* *********************************************************** */
.submitAnnuler {
    display : inline-block;
    cursor: pointer;
    justify-content: center;
    border-radius: 5px;
    background-color: darkred;
    width: 100px;
    height: 40px;
    align-content: center;
}

.submitAnnuler a {
    text-decoration: none;
    color: white;
}

/* *********************************************************** */
/* *****Template pour les boutons cliquables MDPOublié******** */
/* *********************************************************** */
.mdpOublie {
    display : inline-block;
    cursor: pointer;
    justify-content: center;
    border-radius: 5px;
    background-color: #a1a1aa;
    width: 150px;
    height: 40px;
    align-content: center;
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
}

/* *************************************************************************** */
/* *****Templates pour les boutons cliquables RECHERCHER et CONNECTER ******** */
/* *************************************************************************** */
.submitRechercher, .submitConnecter {
    /* Réinitialiser les styles par défaut */
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: none;

    /* styles personnalisés */
    justify-content: center;
    border-radius: 5px;
    background-color: var(--couleur-quaternaire);
    color: white;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}

/* *********************************************************** */
/* *****Template pour les boutons cliquables SUPPRIMER******** */
/* *********************************************************** */
.submitSupprimer {
    padding: 0;
    outline: none;
    border: solid 1px black;
    cursor: pointer;
    align-content: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
}

.submitSupprimer a {
    text-decoration: none;
    color: white;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 5px;
    text-align: center;
}

.flash-success {
    color: var(--couleur-tertiaire);

    background-color: #c1ff72;
}

.flash-fail {
    color: white;
    background-color: red;
}
.formulaires ul {
    flex: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

/* *************************KEYFRAMES************************* */
/* *********************************************************** */
/* *********************************************************** */
/*Permet de créer un effet sur l'affichage des pages : */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Permet de créer un mouvement sur le logo : */
@keyframes mouvement {

    0% {
        transform: translateX(0);
    }

    50%{
        transform: translateX(50vw);
    }

    100% {
        transform: translateX(0);
    }
}

a.button-create {
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: none;

    /* styles personnalisés */
    justify-content: center;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    width: 100px;
    height: 40px;
}

a.button-create:hover {
    background-color: forestgreen;
    transition: transform 0.2s;
    transform: rotateY(10deg) scale(1.1);
}

#rechercher_sortie_form__token {
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: none;
    border: solid 1px black;

    /* styles personnalisés */
    justify-content: center;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    width: 100px;
    height: 40px;
}

