{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <h1> Consulter la liste des sorties : </h1>

    <ul>
        {% for sortie in sorties %}
            <li>
                <strong>{{ sortie.titre }}</strong><br>
                <em>{{ sortie.description }}</em><br>
                Lieu: {{ sortie.lieu }}<br>
                Date: {{ sortie.date|date('d/m/Y') }}
            </li>
        {% endfor %}
    </ul>


{% endblock %}