<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortie.com!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="icon" href="{{ asset('img/LogoProjetSortir.png') }}">
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {% include 'nav.html.twig' %}
        {% block body %}{% endblock %}
{#        {% include 'footer.html.twig' %}#}
    </body>
</html>
