<!DOCTYPE html>
<html>
<head>
    <title>Sortir.Com</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
</head>
<body>
<h1>Rejoignez-nous sur notre plateforme exclusive COM SORTIR</h1>
<p>Organisez et participez à des sorties passionnantes avec d'autres stagiaires ENI, où que vous soyez !</p>
<form>
    <input type="text" name="username" placeholder="Nom d'utilisateur" required>
    <input type="password" name="password" placeholder="Mot de passe" required>
    <label for="remember_me">Remember Me</label> <input id="remember_me" type="checkbox">
    <button type="submit">Connexion</button>
</form>
<p><a href="#">Mot de passe oublié ?</a></p>
</body>
</html>