<nav>
  <a href="{{ path('main_home') }}" title="Home">Home</a>
  <a href="{{ path('sorties_afficher') }}" title="Sorties"> | Consulter les sorties</a>
  <a href="{{ path('sorties_ajouter') }}" title="AjoutSortie"> | Créer une sortie </a>
</nav>
