{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une photo</h1>
    {{ form_start(userProfilForm) }}
    {{ form_end(userProfilForm) }}

{% endblock %}

{% block title %}

{% endblock %}

